{% extends "base.html" %}

{% block head_imports %}
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
    </script>
{% endblock %}

{% block content %}
    <!-- MAIN CONTENT -->
    <div class="row">
        <div class="col-sm-3">
            <h4>Filter</h4>
            <form action="" method="get">

                {{ filter_form.non_field_errors }}

                <div class="input-wrapper">
                    {{ filter_form.purchase_date.errors }}
                    {{ filter_form.purchase_date.label }}
                    {{ filter_form.purchase_date }}
                </div>

                <div class="input-wrapper">
                    {{ filter_form.purchase_quantity.errors }}
                    {{ filter_form.purchase_quantity.label }}
                    {{ filter_form.purchase_quantity }}
                </div>

                <div class="input-wrapper">
                    {{ filter_form.start_date.errors }}
                    {{ filter_form.start_date.label }}
                    {{ filter_form.start_date }}
                </div>

                <div class="input-wrapper">
                    {{ filter_form.end_date.errors }}
                    {{ filter_form.end_date.label }}
                    {{ filter_form.end_date }}
                </div>

                <div class="input-wrapper">
                    <input type="submit" class="btn" value="Filter returns"/>
                </div>
            </form>
        </div>
        <div class="col-sm-9 graph-container-wrapper">
            <h4>Returns at market close</h4>

            {% if error_msg %}<h2>{{ error_msg }}</h2>{% endif %}

            {% if not returns_data %}
                No data for the given filter selection.
            {% endif %}
            <div id="graph-container"></div>
        </div>
    </div>

    <!-- SAVE EXTREME RETURN -->
    {% if returns_data %}
        <div class="row extreme-returns-wrapper">
            <div class="col-sm-12">
                {% if save_msg %}
                    <h2>{{ save_msg }}</h2>
                {% else %}
                    <h4>Extreme returns for the given time period</h4>
                    <p>
                        Please enter a label to save the most extreme returns for this time period.
                    </p>

                    <form action="" method="post">

                        {{ max_return_form.non_field_errors }}

                        {% csrf_token %}
                        <table class="extreme-returns-table">
                            <tr>
                            <th>Return date</th>
                            <th>Return amount</th>
                            </tr>
                            <tr>
                                <td>
                                    {{ max_return_form.return_date.errors }}
                                    {{ max_return_form.return_date }}
                                </td>
                                <td>
                                    {{ max_return_form.return_amount.errors }}
                                    {{ max_return_form.return_amount }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ min_return_form.return_date.errors }}
                                    {{ min_return_form.return_date }}
                                </td>
                                <td>
                                    {{ min_return_form.return_amount.errors }}
                                    {{ min_return_form.return_amount }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ min_return_form.label.errors }}
                                    {{ min_return_form.label }}
                                </td>
                                <td>
                                    <input type="submit" class="btn" value="Save"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block bodyjs %}
    $( function() {
        $( "#id_purchase_date" ).datepicker();
        $( "#id_start_date" ).datepicker();
        $( "#id_end_date" ).datepicker();
    });

    {% if returns_data %}
        function drawChart() {
           // Define the chart to be drawn.
           var data = new google.visualization.DataTable();
           data.addColumn('string', 'Date');
           data.addColumn('number', 'TSLA returns');
           data.addRows([
            {% for return, date in returns_data %}
                ['{{ date }}',  {{ return }}]{% if not forloop.last %},{% endif %}
            {% endfor %}
           ]);

           // Set chart options
           var options = {
              hAxis: {
                 title: 'Date'
              },
              vAxis: {
                 title: 'Returns (USD)'
              },
              'width':550,
              'height':400,
              pointsVisible: false
           };

           // Instantiate and draw the chart.
           var chart = new google.visualization.LineChart(document.getElementById('graph-container'));
           chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    {% endif %}
{% endblock %}