{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4>
                Please enter the number of Tesla shares purchased and the date of purchase.
            </h4>

            <form action="" method="get">

                {{ form.non_field_errors }}

                <table class="home-filter-table">
                    <tr>
                        <td>
                            {{ form.purchase_date.errors }}
                            {{ form.purchase_date.label }}
                        </td>
                        <td>
                            {{ form.purchase_date }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.purchase_quantity.errors }}
                            {{ form.purchase_quantity.label }}
                        </td>
                        <td>
                            {{ form.purchase_quantity }}
                        </td>
                    </tr>
                </table>
                <div class="input-wrapper">
                    <input type="submit" class="btn" value="Get returns"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bodyjs %}
    $( function() {
        $( "#id_purchase_date" ).datepicker();
    });
{% endblock %}